body{
background-color: rgb(169,169,169);
}
div.div1 {
padding: 20px;
border: black 2px solid;
background-color: white;
cursor: text;

}
#button :hover {
  color: #FF00FF;
  cursor: crosshair;
}
#button :active {

    color: #0000FF;
}
.image {

float: left;
margin-right: 30px;
margin-bottom: 30px;

}
